html{
  scroll-snap-type: y mandatory;
}


.app{
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
}

.app__videos{
  position: relative;
  height: 800px;
  border-radius: 20px;
  overflow: scroll;
  width: 80%;
  max-width: 500px;
  scroll-snap-type: y mandatory;
}

@media only screen and (max-width: 768px){
  .app__videos{
    height: 95vh;
    width: 95vw;
  }
}

/* Hide scrollbar chrome  */
.app__videos::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar firefox, IE */
.app__videos {
  -ms-text-overflow-style: none;
  scrollbar-width: none;
}